@import url('https://fonts.googleapis.com/css2?family=Chango&family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Chango', cursive;
    font-family: 'Comfortaa', cursive;
}

body {
    color: #3f221a;
    background-color: #f4f2f0;
    margin: auto;
}

ul {
    padding: 0;
    list-style: none;
}

h1 {
    background-image: url(img/logo.png);
    font-size: 0;
    width: 200px;
    height: 100px;
}

.navbar-light a:hover{
    color: #d8a586 !important;
}

h2 {
    font-family: 'Chango', cursive;
    text-align: center;
}

h3 {
    font-weight: bolder;
    text-align: center;
}

h3, p { 
    text-align: center;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #d8a586;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2em;
}

.dot a {
    font-size: 1px;
    color: transparent;
}

.dots {
    text-align: center;
}

a {
    text-decoration: none;
}

/******************** BANNER ********************/

.carousel-item :first-child {
    position: absolute;
}

.solo-pc {
    display: none;
}

.solo-pc + a {
    position: relative;
    background-color: #d8a586;
    color: white;
    padding: .5em;
    line-height: .5em;
    border-radius: 10px;
    margin-left: 0.25em;
}

.carousel-item :first-child h2 {
    position: relative;
    color : #3f221a;
    font-family: 'Chango', cursive;
    text-align: left;
    margin-left: 0.25em;
}

.carousel-item img {
    margin-top: 20px;
}

/******************** BENEFICIOS ********************/

#beneficios div {
    padding: 20px;
}

.boton-modal {
    border-radius: 5px;
    float: right;
    margin-right: 20px;
}

#beneficios h2 {
    padding: 1em;
}

/******************** SOBRE NOS ********************/


#sobrenos h2 {
    background:  no-repeat url(img/sobrenos.png);
    border-bottom: 12em solid transparent;
    background-position: 50% -60%;
    margin-top: 2em;
}

#sobrenos p {
    text-align: center;
}

/******************** PASTILLAS BENEFICIO ********************/

#pastisbenef {
    position: relative;
    top: 20px;
    width: 100%;
}

#pastisbenef p {
    width: 80%;
    margin: auto;
    margin-top: 1em;
}

#pastisbenef :first-child li {
    text-align: center;  
    width: 100%;
    background-color: #f4f2f0;
}

#nongmo {
    background: no-repeat url(img/nongmo.png);
    border-top: 16em solid transparent;
    background-position: 50% 152%;
    position: relative;
    top: 0;
    right: 0;
}

#vegan {
    background: no-repeat url(img/vegan.png);
    border-top: 16em solid transparent;
    border-bottom: 2em solid transparent;
    background-position: 50% 121%;
    position: absolute;
    top: 0;
    display: none;
}

#tacc {
    background: no-repeat url(img/tacc.png);
    border-top: 16em solid transparent;
    border-bottom: 1em solid transparent;
    background-position: 50% 145%;
    position: absolute;
    top: 0;
    display: none;
}

#natural {
    background: no-repeat url(img/natural.png);
    border-top: 16em solid transparent;
    background-position: 50% 145%;
    position: absolute;
    top: 0;
    display: none;
}

#pastisbenef li:target {
    display: inline-block;
}

/******************** PRODUCTOS ********************/
.productos {
    font-size: .9em;
    position: relative;
}

.productos li {
    text-align: center;
}

.card {
    top: 0;
    margin: 20px;
    border-radius: 1em;
    border: 0;
    background-color: #cbdee5;
}

#original {
    position: relative;
}

#zero, #avena, #castania {
    position: absolute;
    display: none;
    top: 30;
}

.productos ul li:target {
    display: inline-block !important;
}

/**************************************************************** FORM *******************************************************************/

.btn {
    background-color: #d8a586;
    color: #f4f2f0;
}

form {
    margin: 2em;
}

.formtext {
    margin-top: 2em;
}

.formtext p{
    margin-top: 1em;
}


/******************** FOOTER ********************/
footer {
    background-color: #3f221a;
    width: 100%;
    color: #cbdee5;
}

footer a {
    color: #cbdee5;
}

footer div ul:first-child li {
    display: inline-block;
    vertical-align: top;
}

footer li {
    text-align: center;
    margin: 0.5em 0;
}

footer p {
    margin-bottom: 0;
}

#mapa li:first-child a {
    background: url(img/logo2.png) no-repeat;
    display: inline-block;
    font-size: 0;
    width: 200px;
    height: 100px;
}

#mapa {
    margin-bottom: 0;
}

.redes a {
    display: inline-block;
    font-size: 0;
    width: 40px;
    height: 40px;
}

.datos {
    width: 100%;
}

.datos ul {
    text-align: center;
}

#ig {
    background-image: url(img/instagram-icon-mobile.jpg);
}

#tw {
    background-image: url(img/twitter-icon-mobile.jpg);
}

#fb {
    background-image: url(img/facebook-icon-mobile.jpg);
}

@media screen and (min-width: 320px) and (max-width: 380px){
    #beneficios div {
        padding: 10px;
    }
    #natural {
        border-top: 17em solid transparent;
    }
}

@media screen and (min-width: 481px) {
    .solo-pc {
        display: inherit;
        margin-top: 2em;
        text-align: left;
        margin-left: 0.25em;
    }
    #sobrenos {
        width: 80%;
        margin: auto;
    }
    #sobrenos h2 {
        border-bottom: 10em solid transparent;
    }
    #beneficios h2 {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    #vegan {
        border-top: 14em solid transparent;
    }
    #recetas h2, p {
        margin-bottom: 1em;
    }
    figure {
        margin-top: 2em;
    }
    #contacto {
        margin-top: 2em;
    }
    .formtext {
        width: 80%;
        margin: 2em auto;
    }
    form {
        width: 80%;
        margin: 2em auto;
    }
    footer {
        min-width: 100%;
    }
}

@media screen and (min-width: 891px) {
    body {
        max-width: 1024px;
    }

    #beneficios img {
        max-width: 100%;
    }
    .dots {
        display: none;
    }
    .benef{
        position: relative;
        display: inline-block;
        width: 50%;
    }
    .boton-modal {
        display: none;
    }
    #modal-vid {
        display: none !important;
    }

    /* #sobrenos h3 {
        border-left: 8em solid transparent;
        background-position: -36% -18%;
        border-top: 1em solid transparent;
    } */
}
